<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Products</title>
  </head>
  <body onload="loadHandler()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/categories">Categories </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" id="userStatus">
            <span class="mr-4 text-light">Welcome</span>
            <button type="button" class="btn btn-primary" onclick="login()">Login</button>
        </form>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <% if(data.length > 0) { %>
            <h1>List of products - <%= data[0].category_name %></h1>
          <% } else { %>
            <h1>There are not products for this category.</h1>
          <% } %>
        </div>
      </div>
      
        <% data.forEach((el, ind) => { %>
          <div class="row border">
            <div class="col-3 p-2">
              <img src="/img/<%= el.img %>" class="img-fluid"/>
            </div>
            <div class="col-7 p-2">
              <h2 class="h2"><%= el.name %></h2>
              <h4 class="h4"><%= el.description %></h4>
              <h3 class="font-weight-light h3">$<%= el.price/100 %></h3>
            </div>
            <div class="col-2 p-4">
              <button type="button" class="btn btn-secondary m-2" onclick="editModalproduct(<%= `${el.id}, '${el.name}', '${el.description}', ${el.price}` %>)">Edit</button>
              <button type="button" class="btn btn-warning m-2" onclick="deleteproduct(<%= el.id %>)">Delete</button>
            </div>
          </div>
        <% })%> 
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-success mt-4" onclick="addModalproduct()">Add new Product</button>
          </div>
          <div class="col-12">
            <button type="button" class="btn btn-info mt-4" onclick="back()">Back</button>
          </div>
        </div>
          <div class="alert alert-danger my-2" role="alert" id="danger-alert"></div>
          <div class="alert alert-primary my-2" role="alert" id="primary-alert"></div>
    </div>

    <div class="modal fade" id="modaladd" tabindex="-1" role="dialog" aria-labelledby="modaladdLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Adding Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="nameCat" aria-describedby="name" placeholder="Enter product name"/>
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="descriptionCat" aria-describedby="description" placeholder="Enter product description" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" class="form-control" accept=".jpg,.jpeg" name="imageCat" id="imageCat" aria-describedby="image" />
                <small>Only .jpg images are accepted</small>
              </div>
              <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" step="0.01" min="0" class="form-control" id="priceCat" aria-describedby="price"/>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" onclick="addProduct(<%= categoryId %>)">Add</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modaledit" tabindex="-1" role="dialog" aria-labelledby="modaladdLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editing Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="nameCatEdit" aria-describedby="name" placeholder="Enter product name"/>
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="descriptionCatEdit" aria-describedby="description" placeholder="Enter product description" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" class="form-control" accept=".jpg,.jpeg" name="imageCatEdit" id="imageCatEdit" aria-describedby="image" />
                <small>Only .jpg images are accepted</small>
              </div>
              <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" step="0.01" min="0" class="form-control" id="priceCatEdit" aria-describedby="price"/>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" onclick="editProduct(<%= categoryId %>)">Edit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/auth.js"></script>
    <script>
      let token = localStorage.getItem('token')
      let user
      let editSelectedProductId
      const loadHandler = () => {
        $('#danger-alert').hide()
        $('#primary-alert').hide()
        user = auth()
      }

      const sendDangerMessage = (message) => {
        $('#danger-alert').show()
        $('#danger-alert').text(message)
        $('#primary-alert').hide()
      }

      const sendPrimaryMessage = (message) => {
        $('#primary-alert').show()
        $('#primary-alert').text(message)
        $('#danger-alert').hide()
      }

      const editcategory = id => {
        if(!token){
          sendDangerMessage('You are not allowed to make changes. You need to log in.')
        }
        else{
          console.log('editing ' + id)
        }
      }
      
      const deleteproduct = (id, indexTable) => {
        if(!token){
          sendDangerMessage('You are not allowed to make changes. You need to log in.')
        }
        else{
          console.log('deleting ' + id)
          $('#danger-alert').hide()
          $('#primary-alert').hide()
          $.ajax({
            url: `/products/${id}`,
            type: 'delete',
            headers: {
              authorization: `Bearer ${localStorage.getItem('token')}` 
            },
            dataType: 'json',
            success:( data ) => {
              alert('The product has been removed.')
              location.reload()
            },
            error: ( err ) => {
              sendDangerMessage(err.responseJSON.message)
              
            }
          })
        }
      }
      
      const addModalproduct = () => {
        if(!token){
          sendDangerMessage('You are not allowed to make changes. You need to log in.')
        }
        else{
          $('#modaladd').modal('toggle')
        }
      } 

      const editModalproduct = (id, name, description, price) => {
        $('#nameCatEdit').val(name)
        $('#descriptionCatEdit').val(description)
        $('#priceCatEdit').val(price/100)
        editSelectedProductId = id
        if(!token){
          sendDangerMessage('You are not allowed to make changes. You need to log in.')
        }
        else{
          $('#modaledit').modal('toggle')
        }
      } 

      const addProduct = (catId) => {
        if($("#nameCat").val() && $("#descriptionCat").val() && $("#priceCat").val() && $("#imageCat").val()){
          $('#danger-alert').hide()
          $('#primary-alert').hide()
          //handling file upload
          const files = $('#imageCat').get(0).files
          
          
          if(files.length === 0){
            sendDangerMessage('You must send at least 1 file to upload.');
            return
          }
          if(files.length > 1){
            sendDangerMessage('You can only upload 1 file.');
            return
          }

          //appending to the formdata
          //const formData = new FormData($('#imageCat')[0])
          const formData = new FormData()
          formData.append('imageCat', files[0])

          $.ajax({
            url: '/products',
            type: 'post',
            data: {
              name: $("#nameCat").val(),
              category_id: catId,
              description: $("#descriptionCat").val(),
              //img: '01.jpg',
              price: $("#priceCat").val(),
            }, 
            headers: {
              authorization: `Bearer ${localStorage.getItem('token')}` 
            },
            dataType: 'json',
            success:( data ) => {
              $.ajax({
                url: `/products/image/${data.data.id}`,
                type: 'post',
                data: formData,
                "content-type": "application/x-www-form-urlencoded",
                processData: false,
                contentType: false,
                cache: false,
                headers: {
                  authorization: `Bearer ${localStorage.getItem('token')}` 
                },
                success:( data2 ) => {
                  console.log(data2)
                  alert('The product has been added.')
                  location.reload()
                },
                error: ( err ) => {
                  console.log({err})
                  sendDangerMessage(err)
                  $('#modaladd').modal('toggle')
                }
              })
            },
            error: ( err ) => {
              sendDangerMessage(err.responseJSON.message)
              $('#modaladd').modal('toggle')
            }
          })
        }
        else{
          sendDangerMessage('The product data cannot be empty!');
          $('#modaladd').modal('toggle')
        }
      }

      const editProduct = (catId) => {
        if($("#nameCatEdit").val() && $("#descriptionCatEdit").val() && $("#priceCatEdit").val() && $("#imageCatEdit").val()){
          $('#danger-alert').hide()
          $('#primary-alert').hide()

          //handling file upload
          const files = $('#imageCatEdit').get(0).files
          
          
          if(files.length === 0){
            sendDangerMessage('You must send at least 1 file to upload.');
            return
          }
          if(files.length > 1){
            sendDangerMessage('You can only upload 1 file.');
            return
          }

          //appending to the formdata
          //const formData = new FormData($('#imageCat')[0])
          const formData = new FormData()
          formData.append('imageCat', files[0])

          $.ajax({
            url: `/products/${editSelectedProductId}`,
            type: 'put',
            data: {
              name: $("#nameCatEdit").val(),
              category_id: catId,
              description: $("#descriptionCatEdit").val(),
              img: `${editSelectedProductId}.jpg`,
              price: $("#priceCatEdit").val()
            },
            headers: {
              authorization: `Bearer ${localStorage.getItem('token')}` 
            },
            dataType: 'json',
            success:( data ) => {
              $.ajax({
                url: `/products/image/${editSelectedProductId}`,
                type: 'post',
                data: formData,
                "content-type": "application/x-www-form-urlencoded",
                processData: false,
                contentType: false,
                cache: false,
                headers: {
                  authorization: `Bearer ${localStorage.getItem('token')}` 
                },
                success:( data2 ) => {
                  console.log(data2)
                  alert('The product has been edited.')
                  location.reload()
                },
                error: ( err ) => {
                  console.log({err})
                  sendDangerMessage(err)
                  $('#modaladd').modal('toggle')
                }
              })
            },
            error: ( err ) => {
              sendDangerMessage(err.responseJSON.message)
              $('#modaledit').modal('toggle')
            }
          })
        }
        else{
          sendDangerMessage('The category cannot be empty!');
          $('#modaledit').modal('toggle')
        }
      }

      const back = _ => {
        window.history.back()
      }
    </script>
  </body>
</html>